.custom-bg-dark{
    background-color: #373F46 !important;
}

.btn-primary{
    background-color: #32ACED !important;
}

.btn-success{
    background-color: #4fc08d !important;
}

.btn-success:hover{
    background-color: #3da978;
}

@media screen and (max-width: 767px){
    div#navbarCollapse{
        width:100% ;
        position: fixed;
        top:75px;
        left:0;
        padding-left: 20px;
        padding-bottom: 5px;
        background-color: #373F46;
    }
}